

#page {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    --menu-bar-height: 5%;
    --status-bar-height: 3%; 
    
}

#mask {
    position: absolute;
    left: 0;
    right: 0;

    width: 100%;
    height: 100%;

    background-color: #ffffff;
    opacity: 0.7;

    z-index: 99;
}


img {
    max-width: 100%;
    max-height: 100%;
}


#menu-bar {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;

    width: 100%;
    height: var(--menu-bar-height);
    background-color:#ffffff;

    display: flex;
    flex-flow: row nowrap;

    align-items: center;

    box-shadow: 0 1px 1px var(--color-theme);

    color: var(--color-shallow);
}

#logo {
    margin-left: 5px;
    margin-right: auto;
    height: 75%;
    width: auto;
}


#setting, #menu {
    margin-right: 15px;

    color: var(--color-shallow);
}

#setting:active, #menu:active, #setting.active, #menu.active {
    color: white;
}


#panels {

    position: absolute;
    top: var(--menu-bar-height);
    left: 0;

    height: calc(100% - var(--menu-bar-height) - var(--status-bar-height));
    width: 100%;

    background-color: var(--color-bg);

    --info-panel-top: 0;
    --info-panel-left: 0;
    --info-panel-height: 30%;
    --info-panel-width: 27%;

    --control-panel-top: var(--info-panel-height);
    --control-panel-left: 0;
    --control-panel-height:  calc(100% - var(--info-panel-height));
    --control-panel-width: var(--info-panel-width);

    --video-panel-top: 0;
    --video-panel-left: var(--control-panel-width);
    --video-panel-height: 80%;
    --video-panel-width: 50%;

    --data-panel-top: 0;
    --data-panel-left: calc(var(--video-panel-left) + var(--video-panel-width));
    --data-panel-height: var(--video-panel-height);
    --data-panel-width: calc(100% - var(--data-panel-left));
    
    --console-top: var(--video-panel-height);
    --console-left: var(--control-panel-width);
    --console-height: calc(100% - var(--console-top));
    --console-width: calc(100% - var(--console-left));

    color: var(--color-font);

}

#panels > div {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 3px;
}

#panels > div > .panel > div, #panels > div .tab-panel > div {
    --panel-vertical-margin: 3px;
    --panel-horizontal-margin: 3px;

    position: absolute;
    left: var(--panel-horizontal-margin);
    top: var(--panel-vertical-margin);

    height: calc(100% - 2 * var(--panel-vertical-margin));
    width: calc(100% - 2 * var(--panel-horizontal-margin));
}

#panels > div > .tab-panel > div {
    display: flex;
    flex-flow: column nowrap;
} 

#panels .tab-panel .tabbar {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;

}

#panels .tab-panel .tabbar .tab {
    padding: 5px 0;
    flex-grow: 1;

    text-align: center;
    font-size: 14px;
}

#panels .tab-panel .tabbar .tab.active {
    background-color: #ffffff;
    box-shadow: 0 -2px 2px var(--color-theme);
    z-index: 1;

    font-weight: 600;
    color: var(--color-theme);
}


#panels .tab-panel .panel {
    flex-grow: 1;
}

#panels .tab-panel .panel > div {
    height: 100%;
}

#panels .panel > div {

    background-color: #ffffff;
    /* border-radius: 3px; */
    box-shadow: 0 0 4px var(--color-theme);

    display: flex;
    flex-flow: column nowrap;
}


.panel .header {

    height: 25px;
    width: auto;
    margin: 12px 5px;

    border-bottom: solid 2px var(--color-theme);


    color: var(--color-theme);
    font-size: 14px;
    font-weight: 600;

    letter-spacing: .1em;

    display: flex;
    flex-direction: row;
    align-items: center;

}

.panel .header>button {
    margin-left: auto;
}


.panel .header img:first-child {
    margin-left: auto;
}

.panel > div > .tab-header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}

.panel > div .body {
    
    margin: 0 10px 10px 10px;

    flex-grow: 1;

    display: flex;
    flex-flow: column nowrap;
}

.panel .body .item {
    display: flex;
    flex-flow: row nowrap;
    
    align-items: center;
    
    margin: .4em 0;
}

.panel .body .item .title {
    width: 55%;
    margin-right: 5%;
    border-right: solid 2px var(--color-shadow);
}

#info-panel {
    position: absolute;
    top: var(--info-panel-top);
    left: var(--info-panel-left);

    height: var(--info-panel-height);
    width: var(--info-panel-width);

}

#control-panel {
    position: absolute;
    top: var(--control-panel-top);
    left: var(--control-panel-left);

    height: var(--control-panel-height);
    width: var(--control-panel-width);
    
}

#control-panel .body button.btn {
    width: 100px;
    margin-top: auto;
    margin-left: auto;
}

#round-test-panel .body:last-child {
    justify-content: center;
    height: 55%;
}

#chart  {
    align-self: center;
    position: relative;
    top: -10px;
    
}

#custom-test-panel .body {
    height: 40%;
}

#custom-test-panel .header > img {
    width: 20px;
    height: auto;
}
    

table {
    overflow: auto;

    text-align: center;
}

th {
    height: 2em;

}



.expr-details {
    position: absolute;
    left: 0;
    top: 40px;
    bottom: 0;

    background-color: #ffffff;
    border-radius: 5px;
    
    width: 100%;
    
}



#video-panel {
    position: absolute;
    left: var(--video-panel-left);
    top: var(--video-panel-top);

    width: var(--video-panel-width);
    height: var(--video-panel-height);

}

#video-panel .body {
    background-color: green;
}

#vr-control-bnt {
    font-size: 13px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;

    margin-left: auto;

    position: relative;
    bottom: 3px;

    font-weight: 600;

}

/* #vr-control-bnt {
    width: 70px;
    height: 20px;

    font-weight: 600;

    background-color: #ffffff;
    color: var(--color-theme);
    margin-left: auto;

    display: flex;
    align-items: center;
    justify-content: center;

    border: solid 2px var(--color-theme);
    border-radius: 3px;
} */

#vr-control-bnt.active {
    background-color: var(--color-theme);
    color: #ffffff;
}

#video-panel .body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

#video-panel .video {
    width: 100%;
    height: 100%;

    color: #ffffff;
    font-weight: 400;
    background-color: #111111;
    border: solid 1px var(--color-shadow);
}



#data-panel {
    position: absolute;
    top: var(--data-panel-top);
    left: var(--data-panel-left);

    height: var(--data-panel-height);
    width: var(--data-panel-width);

    /* background-color: red; */
}

#data-panel .body .item .title {
    width: 50%;
    /* color: var(--color-theme); */
}

#focus-status {
    height: 40px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

#focus-status .title{
    border-right: none;
    width: 30%;
}

#left-focus-status, #right-focus-status {
    width: 12px;
    height: 12px;
    border-radius: 6px;

    margin-left: 10px;
    margin-right: auto;

    background-color: var(--color-shadow);
}

#left-focus-status.active, #right-focus-status.active {
    background-color: var(--color-theme);
}

#console-panel {
    position: absolute;
    top: var(--console-top);
    left: var(--console-left);

    height: var(--console-height);
    width: var(--console-width);

    /* background-color: orange; */
}

#console {
    background-color: #ffffff;
    border-radius: 3px;

    width: calc(100% - 15px);
    height: calc(100% + 10px);
    overflow: auto;
}

::-webkit-scrollbar {
    border: 1px solid var(--color-shadow);
    width: 10px;
    height: 10px;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--color-shadow);
    width: 10px;
    height: 10px;
    border-radius: 5px;
}

#console .console-message {
    color: var(--color-shallow);
    font-size: 11px;
}

#console > div {
    min-height: 120%;
}




#status-bar {
    background-color: var(--color-theme);

    position: absolute;
    bottom: 0;
    left: 0;

    height: var(--status-bar-height);
    width: 100%;

    z-index: 2;

    box-shadow: 0 -2px 5px var(--color-shadow);

    display: flex;
    flex-flow: row nowrap;
    align-items: center;

}

#status-bar img {
    margin-left: auto;
    margin-right: 10px;

    width: 15px;
    height: auto;
}

#status {
    margin-left: 6px;
    font-size: 10px;
    font-weight: 400;
    color: #ffffff;

}

.dropdown-toggle {
    border: none !important;
    box-shadow: none !important;
}